QuickDecision/SourceCode/ServiceClient/Service References/ServerTransfer/TransferService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59920/TranferData/TransferService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:59920/TranferData/TransferService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/vnyi.Meta.log" />
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TopRecord" type="xs:int" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="FilePath" nillable="true" type="xs:string" />
  <xs:element name="Key" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:long" />
  <xs:element name="RowVersion" type="xs:int" />
  <xs:element name="TotalRecord" type="xs:int" />
  <xs:element name="isSuccess" type="xs:boolean" />
  <xs:element name="Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isSucess" type="xs:boolean" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyReques">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessegerResquest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RowVersionLog" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/vnyi.Meta.log" minOccurs="0" name="Status" type="q2:Status" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>